body {
  font-family: Helvetica;
}

.headerlogo {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.searchBar {
  width: 350px;
  height: 20px;
  padding-top: 0px;
  display: inline-block;
}
.navbar {
  background-color: #F5F5F5;
  width: 100%;
  height: 49px;
  display: inline-block;
}
.barHolder{

  width:358px;
  display: inline-block;
  padding-top: 10px;
  position: relative;

}

input {
  padding-top: 0px;
  position: relative;
}

.labelArea{
  border: 1px solid black;
  margin-left: 550px;
  position: fixed;
  width: 741px;
  height: 78px;
}

.poprepos{
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-radius: 3px 3px 0 0;
  margin-left: 375px;
  position: fixed;
  width: 730px;
  margin-top: 70px;
}

.poprepos-ul {
  border-top: 1px solid #d8d8d8;
  display: block;
}

.repoicon {
  /*max-width: 18px;
  max-height: 18px;*/
  width: 14px;
  height: auto;
  margin-left: -20px;
  margin-right: 10px;
  color: #666;
  padding-top: 2px;
}



.repolist {
  padding: 5px 60px 5px 30px;
  /*display: block;*/
  border-bottom: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 15px;
  height: 45px;
}

.repolink {
  text-decoration: none;
  font-weight: bold;
  line-height: 25px;
}

.repodesc {
  display: block;
  color: #767676;
  font-size: 12px;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
}

.nodesc {
  padding-top: 17px;
  padding-bottom: 20px;
  height: 20px;
}

.stars {
  font-size: 12px;
  color: #888;
  position: absolute;
  right: 10px;
  margin-top: 15px;
}

.starsnodesc {
  margin-top: 5px;
}

.fa-star {
  font-size: 12px;
  color: #888;
  text-align: right;

}

.searchInfo {
  height: 40px;
  width: 770px;
  display: inline-block;
  margin-left: 120px;

}

a {
  color: #4078c0;
}

.searchInfo a {

  text-decoration: none;
  display: inline-block;
  color: black;
  padding-left: 10px;
}

.rightNav{

  height: 40px;
  width: 110px;
  display: inline-block;
  text-align: right;
  margin-left: 250px;
}
.tinyavatar {
  width: 25px;
  height: 25px;
}

.leftSideBar {
  padding-top: 20px;
  width: 258px;
  height:540px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 120px;
}

img {
  width: 225px;
  height: 225px;
  border-radius: 5px;
}

h1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: lighter;
  color: #999;
  width: 225px;
}

.poprepotitle {
  padding: 9px 10px 10px;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
}

.profileinfo {
  line-height: 30px;
  border-bottom: 1px solid gray;
  width: 450px;
}

p {
  display: inline-block;
  margin-left: 5px;
}

.profileinfo .fa {
  width: 15px;
  height: 15px;
}

.icongroup {

  width: 15px;
  display: inline-block;

}

.detailgroup {
  width: 125px;
  display: inline-block;

}

.detailgroup p {

}

.profileSection {

  display: inline-flex;
  width: 150px;
  width: 225px;
}

.followNumber {
  display: inline-block;
}

.followText {
  display: inline;
}

.follower, .starred, .following {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;

}

.borderbottom
{border-bottom: 1px solid gray;
}
