body {
  font-family: Helvetica;
}

.headerlogo {
  height: 36px;
  width: 36px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

/*input[value="octocat"] {
  color: #FFF;
}*/

.btn {
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  color: #fff;
  padding: 4px 10px 6px 10px;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  border-color: #5ca941;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 235px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.blockbtn {
  background-color: #f5f5f5;
  border: 1px solid #d5d5d5;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  border-radius: 3px;
  padding: 4px 10px 6px 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

.fa-info {
  color: #999;
  font-size: 11px;
  border: 2px solid #999;
  border-radius: 70%;
  padding: 2px 6px ;
  vertical-align: middle;
}

.tab {
  display: inline-block;
  font-size: 16px;
}

.headertext {
  font-weight: bold;
  font-size: 14px;
}

.overviewtab, .repotab {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.overviewtab {
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.repoicontab {
  width: 14px;
  height: auto;
}

.searchBar {
  width: 350px;
  height: 20px;
  padding-top: 0px;
  display: inline-block;

}

.user-form {
  display: inline-block;

}

.searchform {
  width: 400px;
  height: 16px;
  border-radius: 3px;
}

.navbar {
  background-color: #f5f5f5;
  width: 100%;
  height: 49px;
  display: inline-block;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 12px;
}

.barHolder{

  width:358px;
  display: inline-block;
  padding-top: 10px;
  position: relative;

}

/*input {
  padding-top: 0px;
  position: relative;
}*/

.labelArea{
  border-bottom: 1px solid #d8d8d8;
  margin-left: 500px;
  position: fixed;
  width: 730px;
  margin-top: 25px;

}

.contributions{

  margin-left: 550px;
  position: fixed;
  width: 741px;
  height: 78px;
  margin-top: 100px;
  display: none;
}

.searchInfo {
  height: 40px;
  width: 770px;
  display: inline-block;
  margin-left: 120px;

}

.searchInfo a {

  text-decoration: none;
  display: inline-block;
  color: black;
  padding-left: 10px;
}

.rightNav{

  height: 40px;
  width: 110px;
  display: inline-block;
  text-align: right;
  margin-left: 230px;

}
.tinyavatar {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.leftSideBar {
  padding-top: 10px;
  width: 258px;
  height:540px;
  padding-left: 175px;
  padding-right: 10px;
  margin-left: 25px;
}

img {
  width: 225px;
  height: 225px;
  border-radius: 5px;
}

h1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: lighter;
  color: #999;
  width: 225px;
}

.profileinfo {
  line-height: 30px;
  border-bottom: 1px solid gray;
  width: 450px;
}

p {
  display: inline-block;
  margin-left: 5px;
}

.profileinfo .fa {
  width: 15px;
  height: 15px;
}

.icongroup {

  width: 15px;
  display: inline-block;

}

.detailgroup {
  width: 125px;
  display: inline-block;

}

/*.detailgroup p {

}*/

.profileSection {

  display: inline-flex;
  width: 150px;
  width: 225px;
}

.followNumber {
  display: inline-block;
}

.followText {
  display: inline;
}

.follower, .starred, .following {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;

}

.borderbottom
{border-bottom: 1px solid gray;
}



.repositoryInfo {
  width: 732px;
  padding-top: 15px;

}

.repositoryInfo {
  border-bottom: 1px solid gray;

}
.repo-list-stats {
  float: right;

}

.repo-list-stats a {
  text-decoration: none;
  color: #707070;
  font-size: 14px;

}

.repoName {
  font-size: 20px; /* 20/16 */ /* 1.25/16 */ /* 1.25/16 */
  color: #4078c0;
  width: 225px; /* 225/16 */ /* 14.063/16 */ /* 14.063/16 */
  padding-bottom: 5px;
}

.repoDetails {
  font-size: 14px;
  padding-top: 10px;
  color: gray;
}

.updateTime {
  font-size: 13px;
  display: block;
  padding-top: 8px;
  padding-bottom: 15px;
  color: gray;
}

.programmingLanguage {
  font-size: 13px;
  color: gray;
  font-weight: bold;
}


.poprepos{
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-radius: 3px 3px 0 0;
  margin-left: 500px;
  position: fixed;
  width: 730px;
  margin-top: 88px;
  display: block;
}

.poprepos-ul {
  border-top: 1px solid #d8d8d8;
  display: block;
}

.repoicon {
  /*max-width: 18px;
  max-height: 18px;*/
  width: 14px;
  height: auto;
  margin-left: -20px;
  margin-right: 10px;
  color: #666;
  padding-top: 2px;
}



.repolist {
  padding: 5px 60px 5px 30px;
  /*display: block;*/
  border-bottom: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 15px;
  height: 45px;
}

.repolink {
  text-decoration: none;
  font-weight: bold;
  line-height: 25px;
}

.repodesc {
  display: block;
  color: #767676;
  font-size: 12px;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
}

.nodesc {
  padding-top: 17px;
  padding-bottom: 20px;
  height: 20px;
}

.stars {
  font-size: 12px;
  color: #888;
  position: absolute;
  right: 10px;
  margin-top: 15px;
}

.starsnodesc {
  margin-top: 5px;
}

.fa-star {
  font-size: 12px;
  color: #888;
  text-align: right;

}

.searchInfo {
  height: 40px;
  width: 770px;
  display: inline-block;
  margin-left: 120px;

}

a {
  color: #4078c0;
}


.poprepotitle {
  padding: 9px 10px 10px;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
}


/*KELLY DEMO*/
body {
  font-family: sans-serif;
  color: #333;
  background: #FFF;
}

input {
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  border: 1px solid #DDD;
  outline: none;
}

.main-content {
  max-width: 400px;
  margin: auto;
}

.user-form {
  margin-bottom: 2em;
}

.user-link {
  display: block;

  overflow: auto;
  padding: 1em;
  transition: all 0.15s;
}

.user-name {
  display: block;
  font-size: 2em;
}

.user-link {
  text-decoration: none;
  color: inherit;
}

img .user-avatar {
  float: left;
  max-height: 250px;
  margin-right: 1em;
  border-radius: 4em;
  background: white;
}
