body {
  font-family: Helvetica;
}

.headerlogo {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.searchBar {
  width: 350px;
  height: 20px;
  padding-top: 0px;
  display: inline-block;
}
.navbar {
  background-color: #F5F5F5;
  width: 100%;
  height: 49px;
  display: inline-block;
}
.barHolder{

  width:358px;
  display: inline-block;
  padding-top: 10px;
  position: relative;

}

input {
  padding-top: 0px;
  position: relative;
}

.labelArea{
  border: 1px solid black;
  margin-left: 550px;
  position: fixed;
  width: 741px;
  height: 78px;
}

.Contributions{
  border: 1px solid black;
  margin-left: 550px;
  position: fixed;
  width: 741px;
  height: 78px;
  margin-top: 100px;
}
.searchInfo {
  height: 40px;
  width: 770px;
  display: inline-block;
  margin-left: 120px;

}

.searchInfo a {

  text-decoration: none;
  display: inline-block;
  color: black;
  padding-left: 10px;
}

.rightNav{

  height: 40px;
  width: 110px;
  display: inline-block;
  text-align: right;
  margin-left: 250px;
}
.tinyavatar {
  width: 25px;
  height: 25px;
}

.leftSideBar {
  padding-top: 20px;
  width: 258px;
  height:540px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 120px;
}

img {
  width: 225px;
  height: 225px;
  border-radius: 5px;
}

h1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: lighter;
  color: #999;
  width: 225px;
}

.profileinfo {
  line-height: 30px;
  border-bottom: 1px solid gray;
  width: 450px;
}

p {
  display: inline-block;
  margin-left: 5px;
}

.profileinfo .fa {
  width: 15px;
  height: 15px;
}

.icongroup {

  width: 15px;
  display: inline-block;

}

.detailgroup {
  width: 125px;
  display: inline-block;

}

.detailgroup p {

}

.profileSection {

  display: inline-flex;
  width: 150px;
  width: 225px;
}

.followNumber {
  display: inline-block;
}

.followText {
  display: inline;
}

.follower, .starred, .following {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;

}

.borderbottom
{border-bottom: 1px solid gray;
}
